{% extends 'base.html.twig' %}

{% block body %}
    <h1>Product</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ product.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ product.title }}</td>
            </tr>
            <tr>
                <th>Intro</th>
                <td>{{ product.intro }}</td>
            </tr>
            <tr>
                <th>Price</th>
                <td>{{ product.price }}</td>
            </tr>
            <tr>
                <th>Imageurl</th>
                <td>{{ product.imageUrl }}</td>
            </tr>
            <tr>
                <th>Popularity</th>
                <td>{{ product.popularity }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('product_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
